<form id="createAd" class="form-horizontal" method="post">
    <fieldset>

        <legend>Change email and password</legend>


        <div class="control-group">
            <label class="control-label" for="textinput">Email</label>

            <div class="controls">
                <input id="textinput" name="email" value="{{email}}" placeholder="" class="input-xlarge" type="text">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Old password</label>

            <div class="controls">
                <input id="textinput" name="old_password"  placeholder="" class="input-xlarge" type="password">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">New password</label>

            <div class="controls">
                <input id="textinput" name="new_password"  placeholder="" class="input-xlarge" type="password">
            </div>
        </div>




        <!-- Button -->
        <div class="control-group">

            <div class="controls">
                <button id="singlebutton" class="btn btn-primary">Change</button>
            </div>
        </div>

    </fieldset>
</form>