<footer>
    <div class="container">
        <p>Ads viewer  &copy; 2014</p>
    </div>

    <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="message" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Send your message</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="receiver">
                        <textarea style="width: 569px; height: 139px;" id="msg"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary send">Send</button>
                </div>
            </div>
        </div>
    </div>

</footer>