<ul class="pagination">
    {{#each pages}}

    <li class="{{isCurrentPage comparePage}}"><a href="?page={{page}}">{{page}}</a></li>
    {{/each}}
    <!--<li class="disabled"><a href="#">&laquo;</a></li>-->

   <!-- <li><a href="#">&raquo;</a></li>-->
</ul>