<form id="createAd" class="form-horizontal" method="post"  >
<fieldset>

    <legend>Registration</legend>


    <div class="control-group">
        <label class="control-label" for="textinput">Firstname</label>
        <div class="controls">
            <input id="textinput" name="firstname" placeholder="" class="input-xlarge" type="text">
        </div>
    </div>

    <label class="control-label" for="textinput">Lastname</label>
    <div class="controls">
        <input id="textinput" name="lastname" placeholder="" class="input-xlarge" type="text">
    </div>

    <label class="control-label" for="textinput">Email</label>
    <div class="controls">
        <input id="textinput" name="email" placeholder="" class="input-xlarge" type="text">
    </div>

    <label class="control-label" for="textinput">Password</label>
    <div class="controls">
        <input id="textinput" name="password" placeholder="" class="input-xlarge" type="password">
    </div>
    <label class="control-label" for="textinput">Repeat password</label>
    <div class="controls">
        <input id="textinput" name="password_repeat" placeholder="" class="input-xlarge" type="password">
    </div>



    <!-- Button -->
    <div class="control-group">

        <div class="controls">
            <button id="singlebutton"  class="btn btn-primary">Next step</button>
        </div>
    </div>

</fieldset>
</form>
